
.container {
  position: relative;
  display: flex;
  font-size: 18px;
  background-color: #fff9f9;
  border: 2px solid black;
  flex-direction: column;
  height: 100vh;
  margin: 15px 50px;
}

.item-container {
  position: relative;
  background-color: #f4e1e1;
  border: 1px solid rgb(103, 13, 13);
  padding: 25px 70px;
  margin: 15px 50px;

}
